@font-face {
  font-family: 'MyCustomFont';
  src: url(fonnts.com-225984/fonts/fonnts.com-Franklin_Gothic_ATF_Ult.otf);
  font-weight: normal;
  font-style: normal;
}   

h1,h2{
  font-family: "MyCustomFont";
}